@model entityLayer.concrete.uyeler
@{
    ViewData["Title"] = "düzenleUyeler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Üye Bilgileri Düzenle</h1>

@using (Html.BeginForm("düzenleUyeler", "Uyeler", FormMethod.Post))
{
    <label>Üye Adı</label>
    @Html.TextBoxFor(i => i.ad, new { @class = "form-control" })

    <br />
    <label>Üye Soyadı</label>
    @Html.TextBoxFor(i => i.soyad, new { @class = "form-control" })

    <br />
    <label>Telefon</label>
    @Html.TextBoxFor(i => i.telefon, new { @class = "form-control" })

    <br />

    @Html.HiddenFor(i => i.id)

    <br />
    <button class="btn btn-primary">Kaydet</button>
}