@model entityLayer.concrete.odüncVerilenKitaplar
@{
    ViewData["Title"] = "düzenleOduncKitaplar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ödünç Verilen Kitaplar Düzenle</h1>

@using (Html.BeginForm("düzenleOduncKitaplar", "OduncVerilenKitaplar", FormMethod.Post))
{
    <label>Üye Seç</label>
    @Html.DropDownListFor(x => x.uyeId, ViewBag.uyeList as List<SelectListItem>, "Üye Seçin", new { @class = "form-control" })

    <br />

    @Html.HiddenFor(i => i.kitapId) @* kitapId gerekli çünkü hangi kitap ödünç veriliyor bilinecek *@

    <button class="btn btn-primary">Ekle</button>
}

